/*
Colors used:
Background & Button Text Color: #ffffff;
Title Color: #000000;
Heading & Text Color: #3c3c3c;
Link Color: #5c5c5c
Button Color: #bd245f;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; /* sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #3c3c3c;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
  color: #000
}

h2 {
  font-size: 2em;
  font-weight: 400;
}
h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.5em;
  font-weight: 700;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #bd245f;
  color: #ffffff;
  font-weight: 700;
  padding: 12px;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #9e1e4f;
  color: #fff;
}

.button {
  border-radius: 10px;
}

a {
  color: #5c5c5c;
  text-decoration: none;
}

a:visited {
  color: #5c5c5c;
}

a:hover a:focus {
  color: #5c5c5c;
  font-weight: 700;
  text-decoration: none;
}

a:active {
  color: #5c5c5c;
}

/* Layout styling */

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 5px 0 rgba(50, 50, 50, 0.1);
}

main {
  padding-top: 120px;
}

.container {
  padding: 0;
  margin: auto;
  width: 100%;
}

.row {
  margin: 30px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

#hero h1, h2 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

#work h2 {
  text-align: center;
}

#bestbakestitle h2 {
  text-align: center;
  margin-bottom: 20px;
}

#evergreentitle h2 {
  text-align: center;
  margin-bottom: 20px;
}

#skillstolls h3 {
  text-align: left;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 20px;
  padding-right: 10px;
  color: #3c3c3c;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 300;
  color: #5c5c5c;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: none;
  font-weight: 300;
  color: #5c5c5c;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: none;
  font-weight: 700;
  color: #3c3c3c;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: none;
  font-weight: 700;
  color: #5c5c5c;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

#contact p {
  font-size: 10px;
  margin-top: 0;
}

.linkedin {
  max-width: 40px;
  margin-top: 0;
  padding: 0 5px;
  fill: #bd245f;
}

.behance {
  max-width: 40px;
  margin-top: 0;
  padding: 0 5px;
  fill: #bd245f;
}

.links {
  display: inline-block;
  width: 100%;
}

.links > ul {
  list-style-type: none;
  padding: 0;
}

.links > ul > li {
  display: inline-block;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 10px;
  }

  main {
    padding-top: 90px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: auto;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  #work h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #bb-intro h2 {
    margin-top: 0;
  }

  #bb-intro h3 {
    margin-top: 0;
  }

}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  #work h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #bb-intro h2,
  h3,
  h4 {
    margin-bottom: 0;
  }

  #evergreen-intro h2,
  h3,
  h4 {
    margin-bottom: 0;
  }

}
