/*
Colors used:
Primary color (dark grey-blue): #373741
Secondary color (burnt orange): #b76e22
Font color (off white): #fffffa
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #373741;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #fffffa;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #b76e22;
  text-decoration: none;
}

a:visited {
  color: #fffffa;
}

a:hover
a:focus {
  color: #b76e22;
  text-decoration: underline;
}

a:active {
  color: #aa5d1e;
}

.button {
  display: inline-block;
  background-color: #b76e22;
  color: #fffffa;
  opacity: 1;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #b76e22;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #b76e22;
  color: #fffffa;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #b76e22;
  color: #fffffa;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: #b76e22;
  color: #fffffa;
  text-transform: uppercase;
  border: 2px solid #b76e22;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #aa5c1e;
  color: #fffffa;
}

.button.contact:active {
  background-color: #aa5c1e;
  color: #fffffa;
}

/* Layout styling */

header {
  background-color: #373741;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 8px 5px 0px rgba(50, 50, 50, 0.65);
}

.container {
  padding: 0 15px;
  width: 100%;
}

.row {
  margin: 30px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #373741;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

#work h2 {
  text-align: center;
}

#bestbakestitle h2 {
  text-align: center;
}

#evergreentitle h2 {
  text-align: center;
}

#contact h2 {
  text-transform: uppercase;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fffffa;
}

nav > ul > li > a:visited {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b76e22;
}

nav > ul > li > a:hover {
  padding: 15px;
  text-transform: lowercase;
  font-weight: 700;
  color: #fffffa;
}

nav > ul > li > a:active {
  padding: 15px;
  text-transform: lowercase;
  font-weight: 700;
  color: #fffffa;
}

main {
  padding-top: 133px;
}

footer {
  background-color: #24242b;
  text-align: center;
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

.linkedin {
  max-width: 50px;
  padding: 5px 5px;
  fill: #b76e22;
}

.behance {
  max-width: 50px;
  padding: 5px 5px;
  fill: #b76e22;
}

.links {
  display: inline-block;
  width: 100%;
}

.links > ul {
  list-style-type: none;
  padding: 0;
}

.links > ul > li {
  display: inline-block;
}

.skyline-outline {
  width: 100%;
}

/* start of animation */

@keyframes color-change {
  0% {fill:#d6298c;}
  50% {fill:#d6ca29;}
  100% {fill:#29d673;}
}

.skyline {
  animation: 5s color-change infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 3px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .logo {
    max-width: 250px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  #work h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #bb-intro h2 {
    margin-top: 0;
  }

  #bb-intro h3 {
    margin-top: 0;
  }

  #contact h2 {
    margin-bottom: 0;
  }

}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 250px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  #work h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #bb-intro h2, h3, h4 {
    margin-bottom: 0;
  }

  #evergreen-intro h2, h3, h4 {
    margin-bottom: 0;
  }

  #contact h2 {
    margin-bottom: 0;
  }
}
